<?xml version="1.0" ?><!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="denkbares-SemanticCore-Plugin-ExtensionPoints" version="1.0">
	<!-- This plugin only defines extension points for denkbares-SemanticCore. -->

	<extension-point id="RepositoryConfig">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>

	<extension-point id="EventListener">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig"
		id="RdfConfigSesame">
		<parameter id="class" value="com.denkbares.semanticcore.config.RdfConfig" />
		<parameter id="name" value="RdfConfigSesame" />
		<parameter id="description" value="Repository config for rdf or empty reasoning" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig"
		id="RdfsConfigSesame">
		<parameter id="class" value="com.denkbares.semanticcore.config.RdfsConfig" />
		<parameter id="name" value="RdfsConfigSesame" />
		<parameter id="description" value="Repository config for rdfs reasoning with sesame" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig"
		id="SpinRdfConfigSesame">
		<parameter id="class" value="com.denkbares.semanticcore.config.SpinRdfConfig" />
		<parameter id="name" value="SpinRdfConfigSesame" />
		<parameter id="description" value="Repository config for spin rdf reasoning with sesame" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>