<?xml version="1.0" ?><!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="denkbares-SemanticCore-Plugin-ExtensionPoints" version="1.0">
	<!-- This plugin only defines extension points for denkbares-SemanticCore. -->

	<extension-point id="ReasoningConfig">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="ReasoningConfig" id="RdfConfig">
		<parameter id="class" value="com.denkbares.semanticcore.reasoning.RdfConfig" />
		<parameter id="name" value="RdfConfig" />
		<parameter id="description" value="Reasoning config for rdf or empty reasoning" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>