<?xml version="1.0" ?><!--
  ~ Copyright (C) 2019 denkbares GmbH, Germany
  ~
  ~ This is free software; you can redistribute it and/or modify it under the
  ~ terms of the GNU Lesser General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This software is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this software; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA, or see the FSF
  ~ site: http://www.fsf.org.
  -->

<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="denkbares-SemanticCore-Plugin-Jena" version="1.0">

	<requires>
		<import plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" />
	</requires>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig"
		id="RdfConfigJenaSail">
		<parameter id="class" value="com.denkbares.semanticcore.jena.sail.RdfConfig" />
		<parameter id="name" value="RdfConfigJenaSail" />
		<parameter id="description"
			value="Repository config for rdf or empty reasoning with jena as the underlying sail model" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig" id="RdfConfigJena">
		<parameter id="class" value="com.denkbares.semanticcore.jena.RdfConfig" />
		<parameter id="name" value="RdfConfigJena" />
		<parameter id="description"
			value="Repository config for rdf or empty reasoning with jena as the underlying model" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="denkbares-SemanticCore-Plugin-ExtensionPoints" point-id="RepositoryConfig"
		id="RdfsConfigJena">
		<parameter id="class" value="com.denkbares.semanticcore.jena.RdfsConfig" />
		<parameter id="name" value="RdfsConfigJena" />
		<parameter id="description" value="Repository config for rdfs reasoning with jena as the underlying model" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>


</plugin>
